.cardContainer  {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}


@media (max-width : 600px) {
    .cardContainer{
        grid-template-columns: repeat(1 , 1fr);
    }
}

@media (max-width : 900px) and (min-width: 601px) {
    .cardContainer{
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media (max-width: 1200px) and (min-width: 901px){
    .cardContainer{grid-template-columns: repeat(3, 1fr);}
}

